POSTGRES_USER=xyz
POSTGRES_PASSWORD=xyz
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=aeroenginetwin

SEAWEED_CONTAINER=aeroenginetwin-seaweedfs
SEAWEED_AWS_ACCESS_KEY=1234
SEAWEED_AWS_SECRET_KEY=1234
SEAWEED_ENDPOINT=http://localhost:8333
RAW_SIM_BUCKET=raw-simulations
REGION_NAME=us-east-1

SEAWEED_INIT=src\scripts\seaweedfs_init.py

ENCODING=UTF-16

MIN_BUCKETS=25
MAX_BUCKETS=1000
DEFAULT_BUCKETS=100
DEFAULT_START=0
DEFAULT_END=1800