POSTGRES_USER=username
POSTGRES_PASSWORD=userpassword
POSTGRES_DB=dbname
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SEAWEED_CONATINER=seaweed_container_name
SEAWEEDFS_ENDPOINT=http://localhost:8333
RAW_SIM_BUCKET=raw-simulations

TIMESCALE_INIT=src\scripts\timescale_init.py
SEAWEED_INIT=src\scripts\seaweedfs_init.py