POSTGRES_USER=username
POSTGRES_PASSWORD=userpassword
POSTGRES_DB=dbname
SEAWEED_CONATINER=seaweed_container_name
TIMESCALE_INIT=src\scripts\timescale_init.py
SEAWEED_INIT=src\scripts\seaweedfs_init.py